<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/editar.css" />
    <title>Editar</title>
  </head>
  <body>
    <div class="container">
      <form action="/editar/<%= row.marca_carro %>" method="post">
        <h2>Editar Informações</h2>
          <div class="inputs">
            <label for="marca">Marca</label>
            <input
              type="text"
              name="marca_carro"
              id="marca"
              value="<%= row.marca_carro %>"
              required
            />

            <label for="modelo">Modelo</label>
            <input
              type="text"
              name="modelo_carro"
              id="modelo"
              value="<%= row.modelo_carro %>"
              required
            />

            <label for="cor">Cor</label>
            <input
              type="text"
              name="cor_carro"
              id="cor"
              value="<%= row.cor_carro %>"
              required
            />

            <label for="placa">Placa</label>
            <input
              type="text"
              name="placa_carro"
              id="placa"
              value="<%= row.placa_carro %>"
              required
            />
          </div>

        <div class="botao">
          <button type="submit">Adicionar</button>
        </div>
      </form>
    </div>
  </body>
</html>
